body {
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
    display: block;
    height: auto; 
    margin: 0;
    padding-top: 50px; 
}

.container {
    margin: 0 auto 60px auto; 
    background-color: white;
    padding: 2rem; /* Bajamos un poco el padding */
    border-radius: 20px;
    max-width: 90%; /* Se adapta mejor a pantallas pequeñas */
    width: 800px; /* Pero no pasa de 800px */
    text-align: center;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
}

#listaPeliculas {
    display: flex;        
    flex-wrap: wrap;     
    justify-content: center;
    gap: 30px;           
    padding: 20px;
}

.pelicula p {
    font-size: 1.2rem; /* BAJADO de 2.2 a 1.2 */   
    font-weight: bold;
    color: #111;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.pelicula img {
    max-width: 100%; /* Para que no se salga de la pantalla */
    height: 250px;   /* Un poco más pequeñas para que quepan más */
    object-fit: cover; /* No se estiran feo */
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.pelicula img:hover {
    transform: scale(1.05);
}

.pelicula span {
    font-size: 1.1rem; /* BAJADO de 1.6 a 1.1 */
    font-weight: bold;
    color: #141313;
    display: block;
    text-align: center;
}

.page-title {
    font-size: 2rem; /* BAJADO de 4rem a 2rem (Mitad de tamaño) */
    font-weight: bold;
    color: #111;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.page-subtitle {
    font-size: 1.1rem; /* Ajustado de 1.5 a 1.1 */
    color: #555;
}